@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  background: #252525;
  height: 100%;
  box-shadow: 1px 1px 6px -1px #000;
}
body{margin: 0 40px;}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.menu{margin: 5px 0; box-shadow: 1px 2px 7px -2px #000;}
.menu nav{display: flex; justify-content: space-evenly;width: 100%;background: #fff;}
.menu nav a{color: #333; padding: 10px;font-weight: 700; text-transform: uppercase;}
.menu nav a:hover{background: green; color: #fff;}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {


 
}
